<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title></title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div th:fragment="menu">
  <button class="menu-toggle" aria-label="Открыть меню"></button>
  <aside class="sidebar">
    <nav>
      <ul>
        <li><a th:href="@{/}">Главная</a></li>
        <li><a th:href="@{/books}"> Каталог Книг</a></li>
        <li><a th:href="@{/clients}">Клиенты</a></li>
        <li><a th:href="@{/some}">ERROR(-_-)</a></li>
      </ul>
    </nav>
  </aside>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const menuToggle = document.querySelector('.menu-toggle');
      const sidebar = document.querySelector('.sidebar');

      if (menuToggle && sidebar) {
        menuToggle.addEventListener('click', function() {
          sidebar.classList.toggle('open');
          this.setAttribute('aria-expanded', sidebar.classList.contains('open'));

          menuToggle.classList.toggle('menu-toggle-open');
        });
      }
    });
  </script>

</div>
</body>
</html>

